### data ###
polars
requests
beautifulsoup4
filelock
datasets

### train ###
torch>=2.6,<2.7
numpy<=1.26.4
datasets
librosa


### infer ###
qdrant-client>=1.18.0,<1.19.0
numpy<=1.26.4
hdbscan
zhconv
beautifulsoup4
cloudscraper
gensim
### web api server ###
fastapi
uvicorn
python-dotenv
mutagen

